<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibrarySystemWebAPI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibrarySystemWebAPI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Page" asp-action="Index">LibrarySystemWebAPI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Page" asp-action="Dashboard">Dashboard</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Page" asp-action="Library">Library</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Page" asp-action="UserAccount">User</a>
                                </li>
                            }

                            
                        }

                        
                    </ul>

                    <div class="d-flex ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="btn btn-primary m-1" id="logoutBtn">Logout</button>
                        }
                        else
                        {
                            <button class="btn btn-primary m-1" id="loginBtn">Login</button>
                            <button class="btn btn-primary m-1" id="signupBtn">Sign Up</button>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - LibrarySystemWebAPI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <div class="modal fade" id="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log in</h5>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="logUsername">Username</label>
                        <input type="text" class="form-control" id="logUsername" />
                    </div>

                    <div class="form-group">
                        <label for="logPassword">Password</label>
                        <input type="password" class="form-control" id="logPassword" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="logBtn">Log In</button>
                </div>


            </div>
        </div>


    </div>
    <div class="modal fade" id="signupModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Signup</h5>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="signUsername">Username</label>
                        <input type="text" class="form-control" id="signUsername" />
                    </div>

                    <div class="form-group">
                        <label for="signPassword">Password</label>
                        <input type="password" class="form-control" id="signPassword" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="signBtn">Log In</button>
                </div>


            </div>
        </div>

    @await RenderSectionAsync("Scripts", required: false)
        <script>
            async function logout(){
                await fetch('/api/Auth/logout', {
                    method: 'POST',
                    credentials: 'include'
                });
                window.location.reload();

            }

            async function login(){
                const apiLogin = '/api/Auth/login'
                const payload = {
                    username: document.getElementById("logUsername").value,
                    password: document.getElementById("logPassword").value
                };
                const response = await fetch(apiLogin, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload),
                });
                if(!response.ok){
                    const text = await response.text();
                    alert('Error Loggin in: ' + text);
                    return;
                }
                $('#loginModal').modal('hide');
                window.location.reload();
            }

            async function signup(){
                const apiLogin = '/api/Auth/signup'
                const payload = {
                    username: document.getElementById("signUsername").value,
                    password: document.getElementById("signPassword").value
                };
                const response = await fetch(apiLogin, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload),
                });
                if(!response.ok){
                    const text = await response.text();
                    alert('Error Signing Up: ' + text);
                    return;
                }
                $('#signupModal').modal('hide');
                window.location.reload();
            }


            document.addEventListener('DOMContentLoaded', () => {
                const loginButton = document.getElementById('loginBtn');
                if(loginButton){
                    loginButton.addEventListener('click', () => {
                        $('#loginModal').modal('show');
                    });
                }

                const signupButton = document.getElementById('signupBtn');
                if(signupButton){
                    signupButton.addEventListener('click', () => {
                        $('#signupModal').modal('show');
                    });
                }

                const logoutBtn = document.getElementById('logoutBtn');
                if(logoutBtn){
                    logoutBtn.addEventListener('click', logout);
                }
                const logBtn = document.getElementById('logBtn');
                if (logBtn) {
                    logBtn.addEventListener('click', login);
                }

                const signBtn = document.getElementById('signBtn');
                if (signBtn) {
                    signBtn.addEventListener('click', signup);
                }
            });
        </script>


</body>

</html>


