<form id="addForm">
    <label>Title:</label>
    <input type="text" name="title"/>

    <label>Author:</label>
    <input type="text" name="author"/>

    <label>ISBN:</label>
    <input type="number" name="isbn"/>

    <label>Copies:</label>
    <input type="text" name="copiesAvailable"/>

    <button type="submit">Submit</button>
</form>

@section Scripts{
    <script>
        const apiAddBook = '/api/book/add-book';
        document.getElementById('addForm').addEventListener('submit', async(e) => {
            e.preventDefault();
            const form = e.target;
            const formData = new FormData(form);
            const response = await fetch(apiAddBook, {
                method: 'POST',
                body: formData
            });
            if(response.ok){
                window.location.href = '/Page/Dashboard';
            }
            else{
                const err = await response.text();
                alert('upload failed ' + err)
            }
        });
    </script>
}