@{
    ViewData["Title"] = "Borrowers";
    var bookId = (int)ViewBag.BookId;
}
<div class="container py-4">
    <div class="bg-white shadow rounded-3 p-4 mb-4">
        <button class="DeleteBook btn btn-primary m-1" data-id="@bookId">Delete</button>
        <h1> Borrowers for Book @bookId </h1>

        <div id="usersBorrowedContainer">
            <p>Loading users..</p>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        const bookId = @bookId;
        const apiBase = `/api/book/find-books/${bookId}`;
        document.addEventListener("click", async (e) => {
            if(e.target.classList.contains("DeleteBook")){
                const bookId = e.target.getAttribute('data-id');
                if(!confirm(`Delete book #${bookId}?`)) return;

                const response = await fetch(`/api/book/${bookId}`,{
                    method: 'DELETE',
                    credentials: 'include'
                });
                if(response.ok){
                    alert('Book deleted successfully.');
                    window.location.href = '/Page/Dashboard';
                } else {
                    alert('Error deleting book.');
                }
                return;
            }
            if(e.target.classList.contains("EditBook")){
                const bookId = e.target.getAttribute('data-id');
                window.location.href = `/Page/EditBook/${bookId}`;
                return;
            }
            
        })
        const container = document.getElementById('usersBorrowedContainer');
        async function fetchUsersBorrowed(){
            const response = await fetch(apiBase, {
                method: 'GET',
                credentials: 'include'
            });
            if(!response.ok){
                container.innerHTML = '<p>Error loading users.</p>';
                return;
            }

            const users = await response.json();
            if(!users || users.length === 0){
                container.innerHTML = '<p>No users available.</p>';
                return;
            }
            const table = `
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                ${users.map(user => `
                    <tr>
                        <td>${user.userName}</td>
                    </tr>
                `).join('')}
                </tbody>
            </table>
             `;
             container.innerHTML = table;
        }
        fetchUsersBorrowed();
    </script>
}