@{
    ViewData["Title"] = "Edit";
    var bookId = (int)ViewBag.BookId;
}
<div id="editBookContainer">
    <p>Loading Book...</p>
</div>

@section Scripts{
    <script>
        const apiBase = `/api/book/find-book/${@bookId}`;
        const container = document.getElementById('editBookContainer');
        async function fetchBooK(){
            const response = await fetch(apiBase, {
                method: 'GET',
                credentials: 'include'
            });
            if(!response.ok){
                container.innerHTML = '<p>Error loading book.</p>';
                return;
            }

            const book = await response.json();
            if(!book || book.length === 0){
                container.innerHTML = '<p>No books available.</p>';
                return;
            }
            const form = `
            <form id="editForm">
                <label>Title:</label>
                <input type="text" name="title" value="${book.title}"/>

                <label>Author:</label>
                <input type="text" name="author" value="${book.author}"/>

                <label>ISBN:</label>
                <input type="number" name="isbn" value="${book.isbn}"/>

                <label>Copies:</label>
                <input type="text" name="copiesAvailable" value="${book.copiesAvailable}"/>

                <button type="submit">Submit</button>
            </form>


                `;
            container.innerHTML = form;
            document.getElementById('editForm').addEventListener('submit', async(e) => {
            e.preventDefault();
            const form = e.target;
            const formData = new FormData(form);

            const response = await fetch(`/api/book/${@bookId}`, {
                method: 'PUT',
                body: formData
            });
            if(response.ok){
                window.location.href = '/Page/Dashboard';
            }
            else{
                const err = await response.text();
                alert('upload failed ' + err)
            }
        });

        }
        fetchBooK();

        

    </script>
}