@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> To login as an admin use these credentials: Username: admin Password: Adminpassword123</p>
</div>


</div>
@section Scripts{

}