@{
    ViewData["Title"] = "Home Page";
}
<div class="container py-4">
    <div class="bg-white shadow rounded-3 p-4 mb-4">
        <div class="text-center">
            <h1 style="font-weight: bold;" class="display-4">Welcome</h1>
            <p> To login as an admin use these credentials: Username: admin Password: Adminpassword123</p>
        </div>
    </div>
</div>



